@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*space mono css classes. (examples)*/
/*.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
*/



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
}

li {
    margin-right: 100px;
}

.top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

#top-button {
    border-radius: 2rem;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
.games-tb, .proxy-tb {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    transform: scale(0.95);
}

header {
    margin-top: 7rem;
}

.top-buttons {
    margin-top: 2rem;
}
